.Navbar{
    background-color: rgb(251, 206, 148);
    overflow: hidden;
}
.Navbar a{
    float: left;
    color: rgb(5, 82, 1);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.Navbar a:hover {
    background-color: rgb(108, 60, 240);
    color: rgb(251, 251, 251);
}

.Navbar a.acitve{
    background-color: brown;
    color: white;
}